{{ define "main" }}
<article class="post">
    <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h1>

    <h2 style="margin-top: 30px; margin-bottom: 0">Reach me out on:</h2>
    <div id="contact-links">
        <a href="https://github.com/dmgiangi" target="_blank">
            <img src="/images/github.svg" alt="GitHub"> GitHub
        </a>
        <a href="https://www.linkedin.com/in/gianluigi-de-marco-890671195/" target="_blank">
            <img src="/images/linked-in.svg" alt="LinkedIn"> LinkedIn
        </a>
    </div>

    <h2 style="margin-top: 30px; margin-bottom: 20px">Or email me</h2>
    <form id="contact-form" style="width: 100%;">
        <div>
            <label for="name" style="display: block;">Name:</label>
            <input required type="text" id="name" name="name" placeholder="Your name">
        </div>

        <div>
            <label for="email">Email:</label>
            <input required type="email" id="email" name="email" placeholder="Your email">
        </div>

        <div>
            <label for="message">Message:</label>
            <textarea required id="message" name="message" placeholder="Your message"></textarea>
        </div>

        <div style="display: flex; align-items: center; gap: 10px;">
            <button id="submit-button" type="submit">Submit</button>
            <span id="form-response"></span>
        </div>
    </form>

    <script>
        document.getElementById('contact-form').addEventListener('submit', async function (event) {
            event.preventDefault();

            const submitButton = document.getElementById('submit-button');
            submitButton.disabled = true;

            const formData = {
                name: document.getElementById('name').value,
                email: document.getElementById('email').value,
                message: document.getElementById('message').value
            };

            try {
                const response = await fetch('{{ .Site.Params.apiBasePath }}/mail', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(formData)
                });

                if (response.status === 201) {
                    document.getElementById('form-response').innerText = 'Successfully sent.';
                    document.getElementById('form-response').className = 'success-message';
                } else {
                    document.getElementById('form-response').innerText = 'An error occurred.';
                    document.getElementById('form-response').className = 'error-message';
                }
            } catch (error) {
                document.getElementById('form-response').className = 'error-message';
                document.getElementById('form-response').innerText = 'An error occurred.';
            } finally {
                submitButton.disabled = false;
            }
        });
    </script>

</article>
{{ end }}
